/* add CSS class and element and selectors here */


  body {
      background-color: lightblue;
      font-size: 150%;
    }
    
  .myClass {
      background-color: gray;
      color: blue
    }
<<<<<<< HEAD
    
.anExampleClass {
      font-size: 300%;
      background-color: lightgreen;
      font-family: courier;
      border: 1px dotted red;
      text-transform: uppercase;
      letter-spacing: 5px;
      transition: rotate(-30)deg;
    }
=======
>>>>>>> 2ad24e955e83f561b9aaee3386c708d287cf9722
    